body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  font-size: 100px;
}

@media screen and (max-width: 1518px) {
  html{
    font-size: 100px;
  }
}
@media screen and (max-width: 1440px) {
  html{
    font-size: 94.8617px;
  }
}
@media screen and (max-width: 1366px) {
  html{
    font-size: 89.9868px;
  }
}
@media screen and (max-width: 1280px) {
  html{
    font-size: 84.3215px;
  }
}
@media screen and (max-width: 1200px) {
  html{
    font-size: 79.0514px;
  }
}